@import "~bulmaswatch/superhero/_variables.scss";
$family-sans-serif: "Montserrat", sans-serif;
@import "~bulma";
@import "~bulmaswatch/superhero/_overrides.scss";


.section {
  background-color: transparent;
}

.title.view-title {
  color: $dark;
}
